@import url("https://fonts.googleapis.com/css?family=Cookie|Lato|Montserrat&display=swap");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a, a:active, a:visited {
    color: white;
    text-decoration: none
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 1 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
    color: white;
}

.app-body {
    flex: 1 1 auto;
    display: flex;
}

nav {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    margin: 10px 10px 0 10px;
}

nav a.active {
    font-weight: bold;
}

footer {
    flex: 0 1 auto;
    background-color: black;
    color: white;
    padding: 7px;
}